# This file stores environment variables for use with CakePHP-Shell-Scripts.
# The file should be copied to Config/env_vars.environment.txt and adjusted as appropriate.
# The `bin/set-configs` script can be used to copy the environment-specific version of the file into the expected location of Config/env_vars.txt.

# The descriptive name for the current project. Will mainly be used in email reports.
LOADSYS_PROJECT_NAME="Loadsys Project"

# The destination email address for all emailed reports.
LOADSYS_EMAIL=owner@site.com

# The short environment name for this config (should match the part between
# "env_vars." and ".txt" in the file name.)
LOADSYS_ENVIRONMENT="dev"
APP_ENV="dev"
